extends main

block content

	.flex-container
		.row
			ul.collapsible
				each cause in causes
					li
						div.collapsible-header
							.container(style="margin-left:0;margin-right:0;")
								.row(style="margin-bottom:0")
									.col.s12
										p Posted by #{cause.User.username} at #{cause.CreatedAt}
								.row(style="margin-bottom:0")
									.col.s12
										h3 [ID: #{cause.id}]  #{cause.title}

						div.collapsible-body
							p Cause:
							p #{cause.body}
							br
							p Goal: $#{cause.goal}
							br
							p Progress: $#{cause.progress}
							br
							a(href=`/causes/${cause.id}`)
								button.btn.waves-effect.blueBtn.waves-light#donateButton(type="submit") Go to This Cause
							
