extends main

block content
  div(class="marginRemover")
      div(class="row createTopper")
        div(class ="col s8 offset-s2 createTopperColor", style ="padding-bottom:0px;margin-top:20px;")
          h3.title #{cause.title}
      div.row
        div.col.s8.offset-s2.postIndiv.z-depth-2
          div.col.l3.postLCol
            div.row.center-align
              h5 #{cause.User.username}
            div.row.center-align
              if User
                img(src=`${cause.User.image}` width = '100' height = '100')
              else
                img(src ="https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png", width ="100", height="100")
          div.col.s9
            p #{cause.body}
            p Goal: $#{cause.goal}
            p Progress: $#{cause.progress}

            div(class = "divide")
            hr
            if user
              form(action=`/causes/${cause.id}/charge`, method="post")
                div.input-field
                  input#amount(name='amount' type='number')
                  label(for="amount") Amount (in USD)
                script(
                  src="//checkout.stripe.com/v2/checkout.js",
                  class="stripe-button",
                  data-key=keyPublish
                  data-locale="auto",
                  data-description="Donation",
                )
              br
            else
              p You must be logged in to donate
              br
        
                
        div.col.s8.offset-s2.postIndiv.blueBox(style="height:60px;")



        script(src="https://checkout.stripe.com/checkout.js")
        script(src="https://js.stripe.com/v3/")
        script(src='/assets/javascript/stripe.js')