extends main
block content
	main
		br
		.container
			.row(style="padding:0px;margin-bottom:0")
				.col.s12
					ul.tabs
						li.tab.col.s3.tabActive.offset-l3#profileTab(style="border-radius:10px 0 0 0;")
							a(href="#Profile") 
								h5 Profile
						li.tab.col.s3.tabInactive#historyTab(style="border-radius:0px 10px 0 0; color:white")
							a(href="#History") 
								h5 History
				div#Profile.col.s12
						.row
							div(class ="col s12 z-depth-2" style="background-color:#f15f22; border-radius:10px 10px 0px 0px; color:white")
								h3.center(style="padding:5px 0px 5px 10px;margin:0") UserProfile
							.col.l3.center-align
								.colorHeader
									h5 #{user.username}
								if user.image
									img(src=`${user.image}`, width ="100", height="100")
								else
									img(src ="https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png", width ="100", height="100")
								h5 Joined: #{user.createdAt}
							div(class ="col l1")
								strong
									h5 Name:
									h5 Email:
									h5 Bio:
							div(class ="col l7 offset-l1")
								h5 #{user.firstName} #{user.lastName}
								h5 #{user.email}
									p #{user.about}


									if user.stripeAccountId
										form(method='post' action='/dashboard/stripe-dash')
											button.btn.blueBtn(type='submit') View Stripe Dashboard
									else
										form(method='get' action='/authorize')
											button.btn.blueBtn(type='submit') Connect with Stripe
										
										br
						.row
							div(class ="col l12 blueBox", style ="height:50px;")
			div#History.col.s12
				.row
						.col.s12(style="background-color:#f15f22; border-radius:10px 10px 0px 0px; color:white")
							h3.center(style="padding:5px 0px 5px 10px;margin:0") User Payments
				.row
					.col.s12
						ul.tabs
							li.tab.col.s2.offset-l2.subTabActive
								a(href='#paymentsTab') Payments
							li.tab.col.s2.subTabInactive
								a(href='#earningsTab') Earnings
							li.tab.col.s2.subTabInactive
								a(href='#postsTab') Causes and Posts
							li.tab.col.s2.subTabInactive
								a(href='#commentsTab') Comments
				div#paymentsTab
					.row
						.col.s12
							if payments.length > 0
								for payment in payments
									div
										p You donated #{payment.amount} to:
											a(href=`/cause/${payment.causeId}`) Cause ID: #{payment.causeId}
							else
								p You haven't made any payments
				div#earningsTab
					.row
						.col.s12
							if payments.length > 0
								for earning in earnings
									div
										p You recieved #{earning.amount} for:
											a(href=`/cause/${earning.causeId}`) Cause ID: #{payment.causeId}
							else
								p You haven't received any donations
				div#postsTab
					.row
						.col.s12
							.row
								.col.s12
								h2 Posts
								if posts.length > 0
									ul.collapsible
										each post in posts
											li
												div.collapsible-header
													.container(style="margin-left:0;margin-right:0;")
														.row(style="margin-bottom:0")
															.col.s12
																p Posted at [#{post.createdAt}]
														.row(style="margin-bottom:0")
															.col.s12
																h3 [ID: #{post.id}] [#{post.category}]  #{post.title}
												div.collapsible-body
													p Body:
													p #{post.body}
													br
													a(href=`/posts/${post.id}`)
														button.btn.waves-effect.blueBtn.waves-light#donateButton(type="submit") Go to This Post
								else
									p You haven't made any posts
							.row
								.col.s12
								h2 Causes
								if causes.length > 0 
									ul.collapsible
										each cause in causes
											li
												div.collapsible-header
													.container(style="margin-left:0;margin-right:0;")
														.row(style="margin-bottom:0")
															.col.s12
																p Posted at [#{cause.createdAt}]
														.row(style="margin-bottom:0")
															.col.s12
																h3 [ID: #{cause.id}] #{cause.title}
												div.collapsible-body
													p Cause:
													p #{cause.body}
													br
													p Goal: $#{cause.goal}
													br
													p Progress: $#{cause.progress}
													br
													a(href=`/causes/${cause.id}`)
														button.btn.waves-effect.blueBtn.waves-light#donateButton(type="submit") Go to This Cause
								else 
									p You haven't made any causes  
				div#commentsTab
					.row
						.col.s12
							if comments.length > 0 
								ul
									each comment in comments
										li 
											p #{comment.body}
											p #{comment.createdAt}
							else
								p You haven't commented on any posts 
				br

				.row
					div(class ="col l12 blueBox", style ="height:50px;")
				
				

//- row
//-                     .col.s12(style="background-color:#f15f22 ; border-radius:10px 10px 0px 0px; color:white")
//-                         h3.center(style="padding:5px 0px 5px 10px;margin:0") User Payments
//-             .row
//-                 .col.s12
//-                     ul.tabs
//-                         li.tab.col.s2.offset-l2.subTabActive
//-                             a(href='payments') 
//-                                 h6 Payments
//-                         li.tab.col.s2.subTabActive
//-                             a(href='#earnings')
//-                                 h6 Earnings
//-                         li.tab.col.s2.subTabActive
//-                             a(href='#posts')
//-                                 h6 Posts
//-                         li.tab.col.s2.subTabActive
//-                             a(href='#comments') 
//-                                 h6 Comm
//-             div#payments
//-                 .row
//-                     .col.s12
//-                         if user.Payment
//-                             for payment in payments
//-                                 div
//-                                     p You donated #{user.Payment.amount} to 
//-                         else
//-                             p You haven't made any payments
//-         div#earnings
//-             .row
//-                 .col.s12
//-                     if user.Earning
//-                         for earning in earnings
//-                             div
//-                                 p You donated #{user.Payment.amount} to 
//-                     else
//-                         p You haven't received any donations
//-         div#posts
//-             .row
//-                 .col.s12
//-         div#comments
//-             .row
//-                 .col.s12
//-                 <div id="test1" class="col s12">Test 1</div>
//-                 <div id="test2" class="col s12">Test 2</div>
//-                 <div id="test3" class="col s12">Test 3</div>
//-                 <div id="test4" class="col s12">Test 4</div>
//-             </div>
//-             br
//-             .row


