extends main

block content
	main
		.flex-container
			.row
				ul.collapsible
					each post in posts
						li
							div.collapsible-header
								i.material-icons exposure
								p Post ID:
								h3 #{post.id}
								br
								p Post Title:
									h3 #{post.title}
							div.collapsible-body
								p Category:
								p #{post.category}
								br
								p Body:
								p #{post.body}
								br
								a(href=`/posts/${post.id}`)
									button.btn.waves-effect.blueBtn.waves-light#donateButton(type="submit") Go to This Post        
