extends main

block content
//- zach original
  .flex-container
    div.post
      h1 #{post.title}
      h3 #{post.subject}
      p #{post.body}
      p Signature below
      p #{post.User.username}
    
    
    p Comment on this post
    form(action='/posts/' + post.id + '/comment' method='post')
      div.input-field.col.s12
      textarea#comment.materialize-textarea(name="comment", cols="30", rows="10")
      button.btn.waves-effect.waves-light#submit(type="submit") Submit


    // If there are posts, 

//- rick version
extends main

block content
  div.container
    div.row.headerColor
      div.col.l12.center-align
        h4 #{post.title}
    div.row
      div.col.l12.postIndiv
        div.row
          div.col.l3.postLCol
            div.row.center-align
                h5 #{post.User.username}
            div.row.center-align
                img(src ="https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png", width ="100", height="100")
          div.col.s9
            h5 #{post.subject}
            p #{post.body}
            div(class ="divide")
            hr
            p Signature Below
        div.row
          div.col.l12.orange
            if user
              p Reply to this post
              form(action='/posts/' + post.id + '/comment' method='post')
                div.input-field.col.s12
                textarea#comment.materialize-textarea(name="comment", cols="30", rows="10")
                button.btn.waves-effect.waves-light#submit(type="submit") Submit
            else
              p You must be logged in to comment
        div.row
        

     
