extends main

block content
	main
		.flex-container
			.row
				ul.collapsible
					each post in posts
						li
							div.collapsible-header
								.container(style="margin-left:0;margin-right:0;")
									.row(style="margin-bottom:0")
										.col.s12
											p Posted by #{post.User.username} at [#{post.createdAt}]
									.row(style="margin-bottom:0")
										.col.s12
											h3 [ID: #{post.id}] [#{post.category}]  #{post.title}
							div.collapsible-body
								p Body:
								p #{post.body}
								br
								a(href=`/posts/${post.id}`)
									button.btn.waves-effect.blueBtn.waves-light#donateButton(type="submit") Go to This Post        

